* {
    margin: 0
}

body {
    font-family: Open Sans;
    background-color: #f2eee9;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: #aec7f2;
    position: sticky;
    top: 0;
    border-bottom: 4px solid #00408c;
}

@media screen and (max-width: 680px) {
    header {
        display: none;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    color: #00408c;
    font-weight: bold;
    padding-right: 75px;
}

.nav-item {
    margin-left: 30px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-item:hover {
    border-bottom: 4px solid #e85234;
}

.nav-connect {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #00408c;
    border-radius: 20px;
    background-color: #00408c;
    color:#f2eee9;
    font-family: Paytone One;
    font-size: 20px;
    display: flex;
}

.nav-connect:hover {
    background-color: #f2eee9;
    color: #00408c;
    transition: 0.1s ease-in-out;
}

.nav-connect a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.intro-container {
    display: flex;
    height: 600px;
    align-items: left;
    justify-content: center;
    background-color: #f2eee9;
    flex-direction: column;
    padding-left: 100px;
}

@media screen and (max-width: 768px) {
    .intro-text-header {
        font-size: 40px;
        width: 80%;
        font-family: Paytone One;
        color: #BA2D0B;
    }
    
    .intro-text-subheader {
        padding-top: 20px;
        font-size: 20px;
        font-weight: 30;
        color: #00408c;
    }

    .intro-button {
        border: 1px solid;
        border-radius: 20px;
        width: 100px;
        text-align: center;
        margin-top: 20px;
        background-color: #00408c;
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        cursor: pointer;
    }
    
  }
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .intro-text-header {
        font-size: 55px;
        width: 60%;
        font-family: Paytone One;
        color: #BA2D0B;
    }

    .intro-text-subheader {
        padding-top: 20px;
        font-size: 25px;
        font-weight: 30;
        color: #00408c;
    }

    .intro-button {
        border: 1px solid;
        border-radius: 20px;
        width: 150px;
        text-align: center;
        margin-top: 20px;
        background-color: #00408c;
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: white;
        cursor: pointer;
    }
} 

@media screen and (min-width: 1200px) {
    .intro-text-header {
        font-size: 60px;
    }

    .intro-text-subheader {
        font-size: 25px;
    }
}

.intro-text-header {
    width: 50%;
    /* font-size: 60px; */
    font-family: Paytone One;
    color: #BA2D0B;
}

.intro-text-subheader {
    padding-top: 20px;
    font-weight: 30;
    color: #00408c;
}

.intro-button {
    border: 1px solid;
    border-radius: 20px;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    background-color: #00408c;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    cursor: pointer;
}

.intro-button a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.intro-button:hover {
    background-color: #BA2D0B;
    transition: 0.1s ease-in-out;
}

.about-container {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    background-color: #BA2D0B;
    margin: 25px;
    border: 1px solid #BA2D0B;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .about-container {
      flex-direction: column;
    }
  }
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .about-container {
        flex-direction: column;
     }
}

@media screen and (min-width: 1200px) {
    .about-container {
        height: 500px;
    }
}

.about-text,
.about-image {
    display: flex;
    justify-content: center;
    padding: 20px;  
}

.about-image {
    height: 450px;
}

.about-text {
    flex-direction: column;
    width: 40%;
    padding: 60px;
    border-bottom: 10px solid #00408c;
    border-left: 10px solid #00408c;
    border-radius: 10px;
    background-color: #f2eee9;
    margin: 25px;
}

.about-text h2 {
    font-size: 45px;
    color: #00408c;
    font-family: Paytone One;
}

.about-text p {
    font-size: 20px;
    padding-top: 15px;
    color: #00408c;
    font-weight: 10;
}

.resume-container {
    display: flex;
    justify-content: space-evenly;
    background-color: #00408c;
    margin: 25px;
    border: 1px solid #00408c;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .resume-container {
      flex-direction: column;
      padding: 20px;
    }
  }
  
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .resume-container {
        flex-direction: column;
        padding: 20px;
        margin-top: 105px;
        margin-bottom: 75px;
      }
}

.resume-experience, .resume-education, .resume-skills {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 10px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 30px;
    padding-bottom: 30px;
    color:  #00408c;
    background-color: #f2eee9;
    font-weight: 10;
    border-bottom: 10px solid #aec7f2;
    border-left: 10px solid #aec7f2;
}


.resume-container h3 {
    border-bottom: 3px solid #BA2D0B;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 15px;
}

.resume-experience-item,  .resume-education-item, .resume-skills-item {
    margin-top: 15px;
}

.resume-experience h3, .resume-education h3, .resume-skills h3 {
    font-family: Paytone One;
    font-size: 30px;
    color: #00408c;
}

.resume-skills-item {
    border: 1px solid;
    border-radius: 20px;
    text-align: center;
    /* padding-left: 7px;
    padding-right: 7px; */
    padding: 10px;
}

.resume-education-button {
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #00408c;
    color:#f2eee9;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resume-education-button:hover {
    background-color: #BA2D0B;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.resume-education-button a {
    text-decoration: none;
    color:#f2eee9;
    text-align: center;
}

.portfolio-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 75px;
    background-color: #aec7f2;
    margin: 25px;
    border: 1px solid #aec7f2;
    border-radius: 20px;
}

 
@media screen and (min-width: 1200px) {
    .portfolio-box {
        display: grid;
        grid-template-areas: 
        "header header"
        "item1 item2"
        "item3 item4"
        "item5 item6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 30px;
    }
}

/* .portfolio-box {
    display: grid;
    grid-template-areas: 
    "header header"
    "item1 item2"
    "item3 item4"
    "item5 item6";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    column-gap: 40px;
    row-gap: 30px;
} */

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .portfolio-container {
        flex-direction: column;
    }

    .portfolio-box {
        display: grid;
        grid-template-areas: 
        "header header"
        "item1 item2"
        "item3 item4"
        "item5 item6";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 30px;
    }
}

@media screen and (max-width: 768px) {
    .portfolio-container {
        flex-direction: column;
    }

    .portfolio-box {
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .portfolio-item-1, .portfolio-item-2, .portfolio-item-3, .portfolio-item-4, .portfolio-item-5, .portfolio-item-6 {
        margin: 20px;
    }
}


.portfolio-box div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.portfolio-box div a {
    display: flex; 
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 100%;  
    text-decoration: none; 
    color: inherit;      
}

.portfolio-header {
    grid-area: header;
    justify-self: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 20px;
    font-family: Paytone One;
    color: #BA2D0B;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #aec7f2;
}

.portfolio-item-1, .portfolio-item-2, .portfolio-item-3, .portfolio-item-4, .portfolio-item-5, .portfolio-item-6 {
    border-bottom: 10px solid #BA2D0B;
    border-left: 10px solid #BA2D0B;
    border-radius: 10px;
    width: 200px;
    height: 150px;
    padding: 30px;
    font-size: 20px;
    background-color: #f2eee9;
    color: #00408c;
    cursor: pointer;
    animation: transform .5s;
}

.portfolio-item-1:hover, .portfolio-item-2:hover, .portfolio-item-3:hover, .portfolio-item-4:hover, .portfolio-item-5:hover, .portfolio-item-6:hover {
    transform: translateY(5px);
}


.portfolio-item a {
    text-decoration: none;
    color: #00408c;
}

.portfolio-item-1 {
    grid-area: item1;
}

.portfolio-item-2 {
    grid-area: item2;
}

.portfolio-item-3 {
    grid-area: item3;
}

.portfolio-item-4 {
    grid-area: item4;
}

.portfolio-item-5 {
    grid-area: item5;
}

.portfolio-item-6 {
    grid-area: item6;
}

footer {
    height: 75px;
    background-color: #f2eee9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid #00408c;
}

footer img {
    height: 40px;
    padding: 10px;
    animation: transform .5s;
}

footer img:hover {
    transform: scale(1.08);
    cursor: pointer;
}

footer a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #BA2D0B;
    color: #f2eee9;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    transition: opacity 0.3s ease-in-out;
}

.back-to-top-btn:hover {
    background-color: #F9B8AF;
}
